<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944139196011-d199mppf7tujc8hjhkq3h4aohj1qh2a7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944139196011-d199mppf7tujc8hjhkq3h4aohj1qh2a7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>944139196011-5o65ss3e8042pahn7uvnp50hpomjhmti.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCOPxbl1uvRvgjhyVIdc7lcSpVwK621CW4</string>
	<key>GCM_SENDER_ID</key>
	<string>944139196011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.growtokyo.staging</string>
	<key>PROJECT_ID</key>
	<string>growtokyo-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>growtokyo-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944139196011:ios:3fb6973e656de38e29c32e</string>
</dict>
</plist>