<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766983345198-99nb5jo08dnhiihnfnh2jf9u34bui6po.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766983345198-99nb5jo08dnhiihnfnh2jf9u34bui6po</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>766983345198-5s72g8erfadvb6q99kl0ckt95o8amptj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB4jaaT5IqGMcLF_pxqg_K-wOJRgWmUTv4</string>
	<key>GCM_SENDER_ID</key>
	<string>766983345198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.growtokyo</string>
	<key>PROJECT_ID</key>
	<string>growtokyo-fd8ae</string>
	<key>STORAGE_BUCKET</key>
	<string>growtokyo-fd8ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766983345198:ios:b381e16e605b2e1f9e7bbf</string>
</dict>
</plist>